*{
  margin: 0px;
  padding: 0px;
}
body{
  background: black;
}
h2{
  text-align: right;
  padding: 8px;
  margin-top: 0px;
  margin-right: 4%;
}
a{
  text-decoration: none;
  font-size: 20px;
  padding: 4px;
  font-weight: lighter;
  color: white;
  border: 1px solid grey;
}
h3{
  color: aqua;
  font-size: 30px;
  text-align: center;
}
.main{
  margin: 2% 0% 4% 4.5%;
  width: 91.5%;
}
.images{

}
img{
  height: 220px;
  width: 300px;
  border: 2px groove white;
  margin: 2px;
}
